*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: $color-bg;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-primary;
  line-height: 1.5;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}