@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.toolbar {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding: $gap-categories 0;
  background-color: $bg-white;
}

/* LEFT */
.left {
  @include flex-center;
}

.backBtn {
  background-color: $navy-dark;
  color: $bg-white;
  border: none;
  padding: $spacing-6px $font-size-base;
  @include font-size($font-size-base);
  border-radius: 4px;
  cursor: pointer;
}

/* RIGHT */
.right {
  @include flex-row(6px);
  align-items: center;

  @include font-size($font-size-label);
  color: $text-secondary;
}

.link {
  cursor: pointer;
}

.separator {
  color: $border-medium;
}

.active {
  @include font-weight(600);
  color: $text-primary;
}