@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

/* Container */
.container {
  background: $color-white;
  border-radius: $radius-md;
  overflow: hidden;
  border: 1px solid $color-border;
  margin: $spacing-80 $spacing-20 $spacing-20 $spacing-20;
}

/* Header */
.header {
  background: $color-primary;
  color: $color-white;

  padding: $spacing-12 $spacing-16;

  @include flex(center, space-between);

  h3 {
    margin: 0;
    font-size: $font-16;
    font-weight: 600;
  }
}

/* Add Button */
.addBtn {
  background: $color-white;
  color: $color-primary;

  border-radius: $radius-sm;
  border: none;

  padding: $spacing-6 $spacing-10;

  @include flex(center, center);
  gap: $spacing-6;

  font-size: $font-14;
  font-weight: 600;

  cursor: pointer;

  svg {
    font-size: $font-12;
    padding: 1px;
    color: $color-white;
    background: $color-primary;
    border-radius: 50%;
  }
}

/* Table Wrapper */
.tableWrapper {
  padding: 0 $spacing-16 $spacing-16;
  margin-top: $spacing-20;
}

/* Table */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  margin-bottom: 0;

  thead {
    background: $color-bg-light;

    th {
      font-size: $font-12;
      font-weight: 600;
      color: $color-text-secondary;

      padding: $spacing-12 $spacing-12;
      text-align: left;
      vertical-align: middle;
      border: none;
    }

    th:last-child {
      text-align: center;

    }
  }

  tbody {
    tr {

      td {
        font-size: $font-10;
        padding: $spacing-6 $spacing-12;
        vertical-align: middle;
        color: $color-text-primary;
        background: $color-white;
      }

      td:last-child {
        text-align: center;
      }

      &:hover td {
        background: $color-bg-row-hover;
      }
    }
  }
}

.table tbody tr td {
  border-bottom: none;
}

/* Rounded edges (left & right of each row) */
.table tbody tr td:first-child {
  border-top-left-radius: $spacing-8;
  border-bottom-left-radius: $spacing-8;
}

.table tbody tr td:last-child {
  border-top-right-radius: $spacing-8;
  border-bottom-right-radius: $spacing-8;
}

/* Align numeric columns */
.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4),
.table td:nth-child(5),
.table td:nth-child(6) {
  text-align: left;
}

/* Actions */
.actions {
  @include flex(center, center);
  gap: $spacing-10;
}

/* Action Buttons */
.actionBtn {
  @include width(28px);
  @include height(24px);

  @include flex(center, center);

  border-radius: $spacing-4;
  border: none;
  cursor: pointer;
  padding: 0px $spacing-4;

  color: $color-white;

  svg {
    font-size: $font-10;
  }
}

/* Individual Colors */
.rate {
  background: $color-primary;
}

.contacts {
  background: $color-primary-light;
}

.locations {
  background: $color-primary;
}

.edit {
  background: $color-primary-light;
}

.delete {
  background: $color-white;
  color: $color-black;
  border: 1px solid $color-border;
}

/* Empty State */
.empty {
  text-align: center;
  padding: $spacing-16;
  color: $color-text-secondary;
}