@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.body {
  padding: $spacing-32 $spacing-24 $spacing-24;
  text-align: center;
}

.title {
  font-size: $font-18;
  font-weight: 700;
  color: $color-black;
  margin-bottom: $spacing-12;
}

.message {
  font-size: $font-14;
  color: $color-text-primary;
  margin-bottom: $spacing-24;

  strong {
    font-weight: 700;
    color: $color-black;
  }
}

.actions {
  display: flex;
  justify-content: center;
  gap: $spacing-10
}

.confirmBtn {
  @include height (38px);
  padding: 0 $spacing-24;
  border: none;
  border-radius: $radius-sm;
  background: $color-primary-light;
  color: $color-white;
  font-size: $font-14;
  font-weight: 600;
  cursor: pointer;
}

.cancelBtn {
  @include height (38px);
  padding: 0 $spacing-24;
  border: 1px solid $color-border;
  border-radius: $radius-sm;
  background: $color-white;
  color: $color-text-primary;
  font-size: $font-14;
  font-weight: 500;
  cursor: pointer;
}