@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.titleBar {
  @include flex-row($gap-tables);
  justify-content: space-between;
  align-items: center;

  padding: $font-size-label $padding-outer;
  background-color: $navy-dark;
  border-top: 1px solid $primary-blue;
  border-bottom: 1px solid $primary-blue;
  border-radius: $spacing-6px $spacing-6px 0 0;
}

/* LEFT: TITLE */
.left {
  @include flex-center;
  justify-content: flex-start;
}

.title {
  @include font-size($font-size-title);
  @include font-weight(600);
  margin: 0;
  color: $bg-white;
}

/* RIGHT: STATUS SECTION */
.right {
  @include flex-center;
  justify-content: flex-end;
}

.statusLabel {
  @include flex-row(8px);
  align-items: center;

  color: $bg-white;
  @include font-size(14px);
  @include font-weight(700);
}

.statusIcon {
  @include flex-center;

  background-color: $status-badge-bg;
  @include width(20px);
  height: 20px;
  border-radius: 50%;

  i {
    color: $status-icon-colour;
    @include font-size($font-size-title);
    line-height: 1;
    display: flex;
  }

  &::before {
    display: block;
    line-height: 1;
  }
}