@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.titleBar {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: $navy-dark;
  border-top: 1px solid $primary-blue;
  border-bottom: 1px solid $primary-blue;
  border-radius: 6px 6px 0 0;
}

/* LEFT */
.left {
  @include flex-center;
  justify-content: flex-start;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: $bg-white;
}

/* RIGHT */
.right {
  @include flex-center;
  justify-content: flex-end;
}

.badge {
  @include flex-center;
  gap: 6px;
  background-color: #16a34a;
  color: $bg-white;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 600;
}