@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.header {
  @include flex-row($gap-tables);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-light;
  background-color: $bg-white;
}

/* LEFT */
.left {
  @include flex-center;
}

.logo {
  font-weight: 700;
  font-size: $font-size-score; 
  color: $navy-dark;
  letter-spacing: 1px;
}

/* RIGHT */
.right {
  @include flex-row(20px); 
  align-items: center;
}

.infoBlock {
  @include flex-column;
  font-size: $font-size-xs;
  text-align: right;
}

.label {
  color: $text-secondary; 
}

.value {
  font-weight: 500;
  color: $text-primary;
}

/* PROFILE */
.profile {
  padding-left: 10px;
  border-left: 1px solid $border-light;
  font-weight: 500;
  cursor: pointer;
}